<div class="column is-4">
    <div class="block homeblock">

<br />

## Hi there! 👋
---

<img src="https://user-images.githubusercontent.com/85834764/151697637-31aebb17-263c-44fd-b453-272811b42338.png" height="300px" width="250px" align="right">


**My name is :** Jenny Gangheena Kim. 

**I am from :** Seoul, South Korea. 

**I love :** learning new languages and getting to know about different cultures around the world. 

**I majored in :**
English Literature & Culture AND Spanish Studies AT Hankuk University of Foreign Studies - 한국외국어대학교 (Seoul, Korea)

**I lived in :** Malaysia, Singapore and Canada (during my school years), and also in Spain and Mexico (as an exchange student in 2018-2019).

**I speak :** Korean, English and Spanish. (Studying a bit of Chinese!)

<br />

I love communicating & interacting with people because it guides me look at the world with a wider perspective, and these experiences help me live and learn with much joy and enthusiasm.

I intend to live a life of endless desire for knowledge no matter the field of study. In my current stage in life, I am now challenging myself to dive in to the world of software engineering where I hope, one day, to be able to contribute to creating a better global community.


<br />
<br />

## About my page
---


🔮 **[DevNotes :](https://jenjenhub.github.io/index.html)** A mini note version of my DevLog. Mainly contains simple notes on some development knowledge I've obtained.

🔮 **[DevLog :](https://velog.io/@jenjenhub/series/bootcamp)** A full version of my development log, during my course at Codestates Software Engineering Bootcamp (and after) 

🔮 **[Reading Log :](https://velog.io/@jenjenhub/series/Reading-Log)** Just to keep track of what I'm reading.

🔮 **[Github](https://github.com/jenjenhub), [LinkedIn](https://www.linkedin.com/feed/) :**
Visit my GitHub page and LinkedIn profile to get to know me more! 

<br />
<br />

## Tech Stack
---

<img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=JavaScript&logoColor=black"/>  <img src="https://img.shields.io/badge/React-61DAFB?style=for-the-badge&logo=React&logoColor=black"/> <img src="https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=HTML5&logoColor=white"/> <img src="https://img.shields.io/badge/CSS-1572B6?style=for-the-badge&logo=CSS3&logoColor=white"/>
<img src="https://img.shields.io/badge/Redux-764ABC?style=for-the-badge&logo=Redux&logoColor=white"/>

<img src="https://img.shields.io/badge/Node.js-339933?style=for-the-badge&logo=Node.js&logoColor=white"/> <img src="https://img.shields.io/badge/express.js-000000?style=for-the-badge&logo=express&logoColor=white"/> <img src="https://img.shields.io/badge/Sequelize-52B0E7?style=for-the-badge&logo=Sequelize&logoColor=white"/> <img src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=MySQL&logoColor=white"/> <img src="https://img.shields.io/badge/Axios-2480E6?style=for-the-badge&logo=A-Frame&logoColor=white"/> <img src="https://img.shields.io/badge/Amazon S3-569A31?style=for-the-badge&logo=Amazon S3&logoColor=white"/> <img src="https://img.shields.io/badge/Amazon EC2-232F3E?style=for-the-badge&logo=Amazon AWS&logoColor=white"/> <img src="https://img.shields.io/badge/Amazon RDS-4053D6?style=for-the-badge&logo=Amazon AWS&logoColor=white"/>

<img src="https://img.shields.io/badge/Tailwind-06B6D4?style=for-the-badge&logo=Tailwind CSS&logoColor=white"/> <img src="https://img.shields.io/badge/Figma-F24E1E?style=for-the-badge&logo=Figma&logoColor=white"/> <img src="https://img.shields.io/badge/Swiper-6332F6?style=for-the-badge&logo=Swiper&logoColor=white"/>
<img src="https://img.shields.io/badge/styled--components-DB7093?style=for-the-badge&logo=styled-components&logoColor=white"/>

<br />


<br />






    
    </div>
</div>
